In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('sorted.csv')

In [3]:
df['year'] = df['year'].astype('str')
df['title'] = df['title'].apply(str.lower)

In [4]:
df.dtypes

Unnamed: 0      int64
title          object
rank            int64
year           object
artist         object
region         object
chart          object
trend          object
streams       float64
dtype: object

In [5]:
import os

In [6]:
region = input("enter region : ")
region=region.lower()
region = region.title()
year = input("enter year : ")
str = 'C:\\Users\\siddh\\Desktop\\spg\\Project\Music Recommendation System\\datasets\\regions'
sl = '\\'
folderPath = str + sl + region
if not os.path.exists(folderPath):
    os.makedirs(folderPath)
else:
    print("folder already exists")
path = str + sl + region + sl + year + ".csv"
print(path)

enter region : India
enter year : 2020
folder already exists
C:\Users\siddh\Desktop\spg\Project\Music Recommendation System\datasets\regions\India\2020.csv

In [7]:
df1 = df[(df['region']==region) & (df['year']==year)]

In [8]:
df1.to_csv(path)

In [9]:
df1.head()

,Unnamed: 0,title,rank,year,artist,region,chart,trend,streams
44,3597815,dynamite,1,2020,BTS,India,top200,SAME_POSITION,281847.00
360,4638824,falling,1,2020,Trevor Daniel,India,viral50,SAME_POSITION,56740.87
456,2634204,dynamite,1,2020,BTS,India,top200,SAME_POSITION,213261.00
576,2881608,naach meri rani,1,2020,"Guru Randhawa, Nikhita Gandhi, Tanishk Bagchi,...",India,top200,SAME_POSITION,196483.00
793,3594453,dynamite,1,2020,BTS,India,top200,SAME_POSITION,185872.00

In [10]:
#df2 = df[(df['region']=='Australia') & (df['year']=='2020')]

In [11]:
#df2.head()