In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('sorted.csv')

In [3]:
df_india=df.loc[df['region']=='India']

In [4]:
df_india.head()

,Unnamed: 0,title,rank,year,artist,region,chart,trend,streams
44,3597815,Dynamite,1,2020,BTS,India,top200,SAME_POSITION,281847.00
63,10698144,love nwantiti (feat. Dj Yo! & AX'EL) - Remix,1,2021,CKay,India,viral50,SAME_POSITION,56740.87
177,6911670,MONTERO (Call Me By Your Name),1,2021,Lil Nas X,India,top200,SAME_POSITION,254426.00
197,9361956,"Raataan Lambiyan (From ""Shershaah"")",1,2021,"Tanishk Bagchi, Jubin Nautiyal, Asees Kaur",India,top200,SAME_POSITION,418151.00
236,10900798,Hadal Ahbek,1,2021,Issam Alnajjar,India,viral50,SAME_POSITION,56740.87

In [5]:
df_india.shape

(176404, 9)

In [6]:
df_india.to_csv('indiaSongs.csv')

In [7]:
df.shape

(11496666, 9)

In [8]:
df.head()

,Unnamed: 0,title,rank,year,artist,region,chart,trend,streams
0,6098044,Bando Bitch,1,2021,Branco,Denmark,top200,SAME_POSITION,61871.00
1,10900968,Mon Amour - Remix,1,2021,"zzoilo, Aitana",Mexico,viral50,SAME_POSITION,56740.87
2,5124446,50//50,1,2020,Vantage,Canada,viral50,SAME_POSITION,56740.87
3,6910681,一人之境 in C major,1,2021,Terence Lam,Hong Kong,top200,SAME_POSITION,27822.00
4,10558975,Do It To It,1,2021,"ACRAZE, Cherish",Germany,viral50,SAME_POSITION,56740.87

In [9]:
df =df.drop("Unnamed: 0",axis=1)

In [10]:
df.dtypes

title       object
rank         int64
year         int64
artist      object
region      object
chart       object
trend       object
streams    float64
dtype: object

In [11]:
df['year'] = df['year'].astype(str)

In [12]:
df1=df[['title','year','artist','region','chart','trend']]
df2 = df[['rank','streams']]

In [13]:
for columns in df1.columns:
    ordinal_label3={k:i for i, k in enumerate(df1[columns].unique(),0)} #{2020:0,2021:1} (iterable,start index)
    df1[columns] = df1[columns].map(ordinal_label3)

C:\Users\siddh\AppData\Local\Temp\ipykernel_4460\3556904582.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[columns] = df1[columns].map(ordinal_label3)
C:\Users\siddh\AppData\Local\Temp\ipykernel_4460\3556904582.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[columns] = df1[columns].map(ordinal_label3)
C:\Users\siddh\AppData\Local\Temp\ipykernel_4460\3556904582.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[columns] = df1[columns].map(ordinal_label3)
C:\Users\siddh\AppData\Local\Temp\ipykernel_4460\3556904582.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[columns] = df1[columns].map(ordinal_label3)
C:\Users\siddh\AppData\Local\Temp\ipykernel_4460\3556904582.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[columns] = df1[columns].map(ordinal_label3)
C:\Users\siddh\AppData\Local\Temp\ipykernel_4460\3556904582.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1[columns] = df1[columns].map(ordinal_label3)

In [14]:
df1.tail()

          title  year  artist  region  chart  trend
11496661  52709     1    2751       0      0      3
11496662  35698     1     183       2      0      1
11496663  21926     0      91      25      0      3
11496664   8643     1    6751       8      0      3
11496665  41516     1    2107       5      0      3

In [15]:
df3 = pd.concat([df1,df2],axis=1)

In [16]:
df3.shape

(11496666, 8)

# feature selection Information Gain

In [17]:
def systematic_sampling(df, step):
 
    indexes = np.arange(0, len(df), step=step)
    systematic_sample = df.iloc[indexes]
    return systematic_sample

In [18]:
df_sample = systematic_sampling(df3, 5)

In [19]:
df_sample.shape

(2299334, 8)

In [20]:
df_sample.head()

    title  year  artist  region  chart  trend  rank     streams
0       0     0       0       0      0      0     1    61871.00
5       5     1       5       5      1      0     1    56740.87
10      9     1       9       9      0      0     1    13437.00
15     14     1      14      14      1      1     1    56740.87
20     19     1      19       5      0      0     1  1655785.00

In [21]:
df_sample['year'].value_counts()

1    1159368
0    1139966
Name: year, dtype: int64

In [22]:
df_sample['trend'].value_counts()

3    993089
2    859000
0    303062
1    144183
Name: trend, dtype: int64

In [23]:
df_sample['chart'].value_counts()

0    1797169
1     502165
Name: chart, dtype: int64

In [24]:
df_sample = df_sample.drop(['trend','chart'],axis=1)#because of biaseness in data

In [25]:
#minmax scaler to normalise value (x-min/max-min) ranges from 0 to 1
for column in df_sample.columns:
	df_sample[column] = (df_sample[column] - df_sample[column].min()) / (df_sample[column].max() - df_sample[column].min())

In [26]:
df_sample.head()

       title  year    artist    region  rank   streams
0   0.000000   0.0  0.000000  0.000000   0.0  0.004952
5   0.000068   1.0  0.000114  0.072464   0.0  0.004535
10  0.000123   1.0  0.000206  0.130435   0.0  0.001012
15  0.000192   1.0  0.000320  0.202899   0.0  0.004535
20  0.000260   1.0  0.000434  0.072464   0.0  0.134633

In [27]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df_sample[["rank","year","artist","region","streams"]],df_sample["title"],test_size=0.3,random_state=0)

In [28]:
from sklearn.feature_selection import mutual_info_regression
mutual_info = mutual_info_regression(x_train,y_train)
mutual_info

array([0.31624531, 0.36379796, 7.71044698, 1.7334128 , 0.37781744])

In [29]:
mutual_info_srs = pd.Series(mutual_info)
mutual_info_srs.index=x_train.columns
mutual_info_srs.sort_values(ascending=False)

artist     7.710447
region     1.733413
streams    0.377817
year       0.363798
rank       0.316245
dtype: float64